<script lang="ts">
    import Fa from 'svelte-fa/src/fa.svelte';
    import { faAngleUp, faAngleDown } from '@fortawesome/free-solid-svg-icons';
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    export let min = 0;
    export let max = 9;
    export let value = 0;

    $: {
        value = Number(value);
        if (value > max) {
            value = min;
        }
        else if (value < min) {
            value = max;
        }
    }

    function increment() {
        value += 1;
    }

    function decrement() {
        value -= 1;
    }

    let input;

    export function focus(): void {
        input.focus();
    }

    export function select(): void {
        input.select();
    }

    export function unfocus(): void {
        input.blur();
    }

    export function focus_next(): void {
        unfocus();
        dispatch("focus_next");
    }
</script>

<style>
    div {
        display: inline-grid;
        margin: 0rem 0.2rem;
    }
    input {
        text-align: center;
        width: 3.5rem;
        height: calc(var(--digit-height) * 0.44);
        padding: 0;
        margin: 0;
        border-left: 0.15rem solid grey;
        border-right: 0.15rem solid grey;
        border-top: none;
        border-bottom: none;
    }
    
    button {
        font-size: 2.5rem;
        text-align: center;
        height:  calc(var(--digit-height) * 0.28);
        padding: 0;
        margin: 0;
        border: 0.15rem solid grey;
    }

    button.increment {
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
    }

    button.decrement {
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

</style>

<div>
    <button
        on:click={increment}
        tabindex=-1
        class="increment"
    >
        <Fa icon={faAngleUp} on:click={increment} />
    </button>
    <input
        type="number"
        bind:value
        bind:this={input}
        on:input={focus_next}
        on:focus={select}
        class="value"
    />
    <button
        on:click={decrement}
        tabindex=-1
        class="decrement"
    >
        <Fa icon={faAngleDown} on:click={decrement} />
    </button>
</div>
