<script lang="ts">
    import StintTimeField from '$lib/StintTimeField.svelte'
    import LapTimeField from '$lib/LapTimeField.svelte'
    import FuelRateField from '$lib/FuelRateField.svelte'

    let stint_time: number = null;
    let lap_time: number = null;
    let fuel_per_lap: number = null;

    $: laps = stint_time / lap_time
    $: laps_rounded = Math.ceil(laps)
    $: fuel_required = laps_rounded * fuel_per_lap;

</script>

<style>
    
    :global(:root) {
        --digit-height: 10rem;
    }

    :global(.field-heading) {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0.1rem 0 0.6rem 0;
    }

    :global(.value) {
        font-size: 3.8rem;
    }

    .calculated-heading {
        font-size: 3rem;
        margin: auto 0;
    }
    .calculated-value {
        font-size: 3rem;
        background-color: white;
        border: 0.2rem solid grey;
        border-radius: 0.7rem;
        box-sizing: border-box;
        padding: 0 0.5rem;
        overflow-wrap: break-word;
    }
    
    .sub-value {
        font-size: 0.55em;
        color:rgb(133, 133, 133);
        font-weight: light;
        margin: auto 0 auto auto;
    }

    :global(.seperator) {
        padding-top: 3rem;
        font-weight: bold;
    }

    :global(.input-label) {
        font-size: 2rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: calc(var(--digit-height) - 0.3rem);
        width: 3.4rem;
        padding-top: 0.3rem;
    }

    :global(.value-field) {
        background-color:rgb(190, 190, 190);
        padding: 0.5rem;
        border: 0.5rem solid grey;
        border-radius: 1rem;
        margin: 0.5rem;
        width: 24rem;
        height: fit-content;
    }

    .fields {
        width: min-content;
    }
</style>

<div class="fields pure-g">
    <div class="pure-u-1">
        <StintTimeField bind:seconds={stint_time} />
    </div>
    <div class="pure-u-1">
        <LapTimeField bind:seconds={lap_time} />
    </div>
    <div class="pure-u-1">
        <FuelRateField bind:litres={fuel_per_lap} />
    </div>
    <div class="pure-u-1">
        <div class="value-field">
            <div class="pure-g">
                <h2 class="calculated-heading pure-u-3-8">LAPS</h2>
                <div class="calculated-value pure-u-5-8">
                    {#if Number.isFinite(laps)}
                        <div class="pure-g">
                            <div class="pure-u">{laps_rounded}</div>
                            <div class="sub-value pure-u">{laps.toFixed(2)}</div>
                        </div>
                    {:else}
                        --
                    {/if}
                </div>
                <hr class="pure-u-1"/>
                <h2 class="calculated-heading pure-u-3-8">FUEL</h2>
                <div class="calculated-value pure-u-5-8">
                    {#if Number.isFinite(fuel_required) && fuel_required > 0}
                        {fuel_required.toFixed(2)}&nbsp;L
                    {:else}
                        --
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
