<script lang="ts">
    import Digit from '$lib/Digit.svelte'

    let digits = {};
    let values = {
        tens_of_litres: 0,
        units_of_litres: 0,
        tenths_of_litres: 0,
        hundredths_of_litres: 0
    }

    export let litres = 0;
    $: litres = [
        10 * values["tens_of_litres"],
        values["units_of_litres"],
        values["tenths_of_litres"] / 10,
        values["hundredths_of_litres"] / 100
    ].reduce((a, b) => a + b, 0);
</script>

<div class="value-field pure-g">
    <h2 class="field-heading pure-u-1">fuel per lap</h2>
    <div class="pure-u">
        <div class="pure-g">
            <div class="pure-u"><Digit
                bind:this={digits["tens_of_litres"]}
                bind:value={values["tens_of_litres"]}
                on:focus_next={digits["units_of_litres"].focus}
            /></div>
            <div class="pure-u"><Digit
                bind:this={digits["units_of_litres"]}
                bind:value={values["units_of_litres"]}
                on:focus_next={digits["tenths_of_litres"].focus}
            /></div>
            <div class="value seperator pure-u">.</div>
            <div class="pure-u"><Digit
                bind:this={digits["tenths_of_litres"]}
                bind:value={values["tenths_of_litres"]}
                on:focus_next={digits["hundredths_of_litres"].focus}
            /></div>
            <div class="pure-u"><Digit
                bind:this={digits["hundredths_of_litres"]}
                bind:value={values["hundredths_of_litres"]}
                on:focus_next={digits["thousandths_of_litres"].focus}
            /></div>
            <div class="pure-u">
                <div class="input-label">Litres</div>
            </div>
        </div>
    </div>
</div>
