<script lang="ts">
    import Digit from '$lib/Digit.svelte'

    let digits = {};
    let values = {
        tens_of_minutes: 0,
        units_of_minutes: 0,
        tens_of_seconds: 0,
        units_of_seconds: 0,
        tenths_of_seconds: 0
    }

    export let seconds = 0;
    $: seconds = [
        10 * 60 * values["tens_of_minutes"],
        60 * values["units_of_minutes"],
        10 * values["tens_of_seconds"],
        values["units_of_seconds"],
        values["tenths_of_seconds"] / 10
    ].reduce((a, b) => a + b, 0);
</script>

<div class="value-field pure-g">
    <h2 class="field-heading pure-u-1">lap time</h2>

    <div class="pure-u"><div class="pure-g">
        <div class="pure-u"><Digit
            bind:this={digits["tens_of_minutes"]}
            bind:value={values["tens_of_minutes"]}
            on:focus_next={digits["units_of_minutes"].focus}
            max={5}
        /></div>
        <div class="pure-u"><Digit
            bind:this={digits["units_of_minutes"]}
            bind:value={values["units_of_minutes"]}
            on:focus_next={digits["tens_of_seconds"].focus}
        /></div>
        <div class="value seperator pure-u">:</div>
        <div class="pure-u"><Digit
            bind:this={digits["tens_of_seconds"]}
            bind:value={values["tens_of_seconds"]}
            on:focus_next={digits["units_of_seconds"].focus}
            max={5}
        /></div>
        <div class="pure-u"><Digit
            bind:this={digits["units_of_seconds"]}
            bind:value={values["units_of_seconds"]}
            on:focus_next={digits["tenths_of_seconds"].focus}
        /></div>
        <div class="value seperator pure-u">.</div>
        <div class="pure-u"><Digit
            bind:this={digits["tenths_of_seconds"]}
            bind:value={values["tenths_of_seconds"]}
            on:focus_next={digits["hundredths_of_seconds"].focus}
        /></div>
    </div></div>
</div>
