<script lang="ts">
    import Digit from '$lib/Digit.svelte'

    let digits = {};
    let values = {
        tens_of_hours: 0,
        units_of_hours: 0,
        tens_of_minutes: 0,
        units_of_minutes: 0
    }

    export let seconds = 0;
    $: seconds = [
        10 * 60 * 60 * values["tens_of_hours"],
        60 * 60 * values["units_of_hours"],
        10 * 60 * values["tens_of_minutes"],
        60 * values["units_of_minutes"],
    ].reduce((a, b) => a + b, 0);
</script>

<div class="value-field pure-g">
    <div class="pure-u-1">
        <h2 class="field-heading">stint time</h2>
    </div>
    
    <div class="pure-u-1-2">
        <div class="pure-g">
            <div class="pure-u"><Digit
                bind:this={digits["tens_of_hours"]}
                bind:value={values["tens_of_hours"]}
                on:focus_next={digits["units_of_hours"].focus}
            /></div>
            <div class="pure-u"><Digit
                bind:this={digits["units_of_hours"]}
                bind:value={values["units_of_hours"]}
                on:focus_next={digits["tens_of_minutes"].focus}
            /></div> 
            <div class="pure-u">
                <div class="input-label">Hours</div>
            </div>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="pure-g">
            <div class="pure-u"><Digit
                bind:this={digits["tens_of_minutes"]}
                bind:value={values["tens_of_minutes"]}
                on:focus_next={digits["units_of_minutes"].focus}
                max={5}
            /></div>
            <div class="pure-u"><Digit
                bind:this={digits["units_of_minutes"]}
                bind:value={values["units_of_minutes"]}
            /></div>
            <div class="pure-u">
                <div class="input-label">Minutes</div>
            </div>
        </div>
    </div>
</div>
