<script lang="ts">
    import Fa from 'svelte-fa/src/fa.svelte';
    import { faGitlab } from '@fortawesome/free-brands-svg-icons/faGitlab';
    import FuelCalculator from '$lib/FuelCalculator.svelte';
    import 'purecss';
</script>

<svelte:head>
	<title>Fuel Calculator</title>
</svelte:head>

<style>
    :global(:root) {
        background-color: rgb(36, 36, 36);
    }

    .layout {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    .content {
        margin: 0 auto 1rem auto;
        width: min-content;
    }

    .footer {
        margin-top: auto;
        padding: 0.2rem;
        background: rgb(85, 85, 85);
        text-align: center;
    }
    .footer p {
        margin: 0.5rem;
    }

    .footer a {
        color: rgb(32, 32, 32);
        position: relative;
        bottom: 0px;
    }
</style>

<div class="layout">
    <div class="content">
        <FuelCalculator/>
    </div>
    <div class="footer">
        <p>
            Chris Wright © 2022&emsp;|&emsp;<a href="https://gitlab.com/inkychris/fuel-calculator" target="_blank">
            View the source</a> on Gitlab&nbsp;<Fa icon={faGitlab}/>
        </p>
    </div>
</div>
